<br>
<% @stock_data.each do |stock| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= stock[:name] %></h3>
      <small><%= stock[:price_data]["company_name"] %></small>
    </div>
    <div class="panel-body text-center">

      <div class="col-md-2 col-md-offset-1"><p>Current Price: <b><%= stock[:price_data]["current_price"] %></b></p></div>
      <div class="col-md-2"><p>Open: <b><%= stock[:price_data]["open"] %></b></p></div>
      <div class="col-md-2"><p>Days Range: <b><%= stock[:price_data]["day's_range"] %></b></p></div>
      <div class="col-md-2"><p>Price Change: <b><%= stock[:price_data]["price_change_amount"] %></b></p></div>
      <div class="col-md-2"><p>Price Change Percent:  <b><%= stock[:price_data]["price_change_percent"] %></b></p></div>

      <div class="col-md-3 chart-img">
        <img src="<%= stock[:charts][:one_year] %>">
        <h6>One Year</h6>
      </div>

      <div class="col-md-3 chart-img">
        <img src="<%= stock[:charts][:one_month] %>">
        <h6>One Month</h6>
      </div>

      <div class="col-md-3 chart-img">
        <img src="<%= stock[:charts][:five_day] %>">
        <h6>Five Days</h6>
      </div>

      <div class="col-md-3 chart-img">
        <img src="<%= stock[:charts][:one_day] %>">
        <h6>One Day</h6>
      </div>
    </div>
  </div>

<% end %>

<div class="ct-chart ct-perfect-fourth"></div>

<%= javascript_tag do %>
  window.stockShit = <%=raw @stockJSON %>;
<% end %>
