<br>

<div class="row">
  <div class="col-md-5">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">$<%= @cash %></span>
        Cash
      </li>
      <li class="list-group-item">
        <span class="badge">$<%= @stocks %></span>
        Stocks
      </li>
      <li class="list-group-item">
        <span class="badge">$<%= @cash_plus_stocks %></span>
        Cash Plus Stocks
      </li>
      <li class="list-group-item">
        <span class="badge"><%= @open_stocks.count %></span>
        Open Stocks
      </li>
      <li class="list-group-item">
        <span class="badge"><%= @closed_stocks.count %></span>
        Closed Stocks
      </li>
      <li class="list-group-item">
        <span class="badge"><%= ENV['MOUNTAIN_FLOOR_TRIGGER'] %></span>
        Mountain Floor Trigger Count
      </li>
    </ul>
  </div>
</div>

<h3>Open Trades</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <td>stock</td>
      <td>buy</td>
      <td>total buy price</td>
      <td>quantity</td>
      <td>current price</td>
      <td>update at</td>
    </tr>
  </thead>

  <% @open_stocks.each do |stock| %>
    <tr class="active">
      <td><%= stock.stock %></td>
      <td><%= stock.buy %></td>
      <td><%= stock.total_buy_price %></td>
      <td><%= stock.quantity %></td>
      <td><%= stock.current_price %></td>
      <td><%= stock.updated_at %></td>
    </tr>
  <% end %>
</table>

<h3>Closed Trades</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <td>stock</td>
      <td>buy</td>
      <td>total buy price</td>
      <td>sell</td>
      <td>total sell price</td>
      <td>quantity</td>
      <td>open</td>
      <td>profit loss per share</td>
      <td>total profit loss</td>
      <td>current price</td>
    </tr>
  </thead>

  <% @closed_stocks.each do |stock| %>
    <tr class="<%= stock.class_status %>">
      <td><%= stock.stock %></td>
      <td><%= stock.buy %></td>
      <td><%= stock.total_buy_price %></td>
      <td><%= stock.sell %></td>
      <td><%= stock.total_sell_price %></td>
      <td><%= stock.quantity %></td>
      <td><%= stock.open %></td>
      <td><%= stock.profit_loss_per_share %></td>
      <td><%= stock.total_profit_loss %></td>
      <td><%= stock.current_price %></td>
      <td><%= stock.updated_at.to_s %></td>
    </tr>
  <% end %>
</table>
